<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <form action="checkLogin" method="post">
                <div class="card">
                    <div class="card-header" align="center">
                        <span style="float: left">
                            <a th:href="@{/index}" href="#"><i class="fas fa-arrow-left"></i>back</a>
                        </span>
                        <span>登入</span>
                    </div>
                    <div class="card-body">
                        <fieldset>
                            <div class="form-group">
                                <label for="inputUserName">User name</label>
                                <input type="text" class="form-control" id="inputUserName">
                            </div>
                            <div class="form-group">
                                <label for="inputPassword">Password</label>
                                <input type="text" class="form-control" id="inputPassword">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block" id="btnSubmit">登入</button>
                        </fieldset>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>